.ustKat {
    background-color: black;
    padding-top: 2%;
    padding-bottom: 2%;
}
body {
    background-color: #141414;
}
.searchInput {
    background-color: #1b1b1b;
    border:1px solid white;
    width: 100%;
}
.font{
    color: #999;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.image{
  
    
}
.agendas{
    color: #999;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.series{
    color: #999;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.americanSeries{
    color: #999;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.katılBtn{
    background-color: #e50914;
}




