.ustKat {
    background-color: black;
    padding-top: 2%;
    padding-bottom: 2%;
}
body {
    background-color: #141414;
}
.searchInput {
    background-color: #1b1b1b;
    border-color: white;
    width: 100%;
}
.fontTip{
    color: #999;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.imageOne{
    padding-left: 2%;
    padding-right: 2%;
    height: 100%;
}
.agendas{
    color: #999;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




